/* CARDIOAI REPORT - 8/11/2025, 10:42:34 am */
:root { --p:"Deepak"; --hr:"59 BPM"; --hrv:"37 ms"; --risk:"Low"; --status:"Bradycardia"; --health:"0.0/100"; --cvrisk:"High"; --ef:"47.0%"; --time:"8/11/2025, 10:42:34 am"; }